.root {
    -fx-background-color: #F2F2F2;
}

#header, #footer {
    -fx-background-color: #C9E8FF;
}

#title {
    -fx-background-color: #3689BA;
}

.middlebox {
    -fx-background-color: #E5F4FF;
}

/* BUTTONS */
.button:hover {
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: #c0ddf1;
}

.btnSymbols {
    -fx-background-color: #78B9E3;
    -fx-background-radius: 25%;
    -fx-text-fill: white;
    -fx-border-width: 1px;
    -fx-border-radius: 25%;
    -fx-border-color: #3689BA;
}

.btnBottom {
    -fx-background-color: #e6f2fa;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #c1d9ea;
    -fx-border-width: 1px;
}

#btnClose {
    -fx-background-color: #D9674C;
    -fx-background-radius: 10%;
    -fx-border-width: 2px;
    -fx-border-color: #A12F15;
    -fx-border-radius: 10%;
}

/* SLIDER */
.slider .track {
    -fx-background-color: linear-gradient(to right, #c0ddf1, #78B9E3);
    -fx-pref-height: 8px;
    -fx-background-radius: 4px;
}

.slider .thumb {
    -fx-background-color: #3689BA;
    -fx-background-radius: 50%;
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
}

/* TABLE_VIEW */
.table-view {
    -fx-background-color: transparent;
}

.table-row-cell:odd {
    -fx-background-color: #F0F8FF;
}

.table-row-cell:even {
    -fx-background-color: #ffffff;
}


.table-row-cell:hover {
    -fx-background-color: #DEF0FF;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #BFDDF2;
    -fx-text-fill: black;
}

.table-view:focused .table-row-cell:selected {
    -fx-background-color: #78B9E3;
}

.table-row-cell:selected .table-cell {
    -fx-border-color: transparent;
    -fx-text-fill: black;
}

.table-view .column-header {
    -fx-background-color: #78B9E3;
    -fx-border-width: 1px;
    -fx-border-color: #3689BA;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-view .table-row-cell .table-cell.colCenteredText {
    -fx-alignment: CENTER;
}

/* LIST_VIEW */
.list-view {
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: #3689BA;
}

.list-cell:odd {
    -fx-background-color: #F0F8FF;
}

.list-cell:even {
    -fx-background-color: white;
}

.list-cell:hover {
    -fx-background-color: #DEF0FF;
}

.list-cell:selected {
    -fx-background-color: #BFDDF2;
    -fx-text-fill: black;
}



